@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('/fonts/Pretendard-Regular.woff') format('woff');
    font-weight: normal;
  }
  
  